$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	z-index: 7;
	font-weight: 300;
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	margin-top: 20px; 
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; height: 25px; background-size: 186px 50px; z-index: 10; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

@media screen and (max-width: 600px) {
	.copyright { text-align: center; }
	#jac { position: static; display: block; right:0; margin: 20px auto 0;}
}

.footer-blocks {
	@include display( flex );
	padding: 30px 0;
}

.footer-block {

	@include flex-grow( 1 );
	padding: 0 30px;

	&:first-child { 
		@include display( flex );
		@include align-items( center );
		@include flex-basis( 544px );
		border-right: 1px solid rgba(255,255,255,0.6); 
	}
}

.footer-logo,
.footer-contact {
	@include flex-grow( 1 );
}

.footer-logo { 
	display: inline-block;
	vertical-align: middle;
	img { width: 230px; }
}

.footer-contact {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

footer .single-form {
	margin-top: 20px;
	&:after { display: none; }
	button {
		color: #c7c7c7;
		&:focus,
		&:hover { color: #999; }
	}
}

footer h6 { margin:0; }

@media screen and (max-width: 900px) {
	.footer-blocks { display: block; }
	
	.footer-block:first-child { 
		border: none; 
		margin: 0 0 20px;
	}
}

@media screen and (max-width: 600px) {
	
	.footer-block {
		padding: 5px;
		&:first-child {
			display: block;
			text-align: center;
		}
	}
	
	.footer-logo,
	.footer-contact { display: block; }
	.footer-logo { margin: 0 0 20px; }
	
}