$darkBackgroundHeadingColor: $darkBackgroundContentColor !default;
$headingFontStack: $defaultFontStack !default;
$headingColor: #000 !default;

$h1Size: 42px !default;
$h2Size: 36px !default;
$h3Size: 28px !default;
$h4Size: 26px !default;
$h5Size: 22px !default;
$h6Size: 18px !default;

/* headings */
%top-level-headings { line-height: 1.2; font-weight: normal; margin: 0 0 20px; font-family: $headingFontStack; }
%hgroup-top-level-headings { margin:0; }
%heading-style { display: block; font-family: $headingFontStack; color: $headingColor;; }

@each $element in h1,h2,h3,h4,h5,h6 {
	.#{$element}-style,
	#{$element} { 
		@extend %top-level-headings; 
		
		@if mixin-exists( header-theme ) { @include header-theme(); }
		
		&+hr {
			margin: -15px 0 15px;
		}
		
		.d-bg &,
		.dark-bg & { color: $darkBackgroundHeadingColor; }
		
		.article-body p + &,
		.article-body ul + &,
		.article-body ol + & { margin-top: 35px; }
		
	}
	
	#{$element},.#{$element}-style { 
		@extend %heading-style; 
	}
}

.h1-style,
h1 { font-size: $h1Size; 
	@if mixin-exists( h1-theme ) { @include h1-theme(); }
}
.h2-style,
h2 { font-size: $h2Size; 
	@if mixin-exists( h2-theme ) { @include h2-theme(); }
}
.h3-style,
h3 { font-size: $h3Size; 
	@if mixin-exists( h3-theme ) { @include h3-theme(); }
}
.h4-style,
h4 { font-size: $h4Size; 
	@if mixin-exists( h4-theme ) { @include h4-theme(); }
}
.h5-style,
h5 { font-size: $h5Size; 
	@if mixin-exists( h5-theme ) { @include h5-theme(); }
}
.h6-style,
h6 { font-size: $h6Size; 
	@if mixin-exists( h6-theme ) { @include h6-theme(); }
}