.body {
	background: #fff;
	padding: 50px 60px;
	
	@media screen and (max-width: 800px) {
		& { padding: 30px 15px; }
	}
}

.section-title {
	text-align: center; 
	width: 700px;
	max-width: 80%; 
	margin: 0 auto 20px;
	
	.title {
		margin:0;
		padding:0;
	}
	
	.subtitle {
		border-top: 1px solid #ccc;
		margin-top:10px;
		padding-top:10px;
		display:block;
	}
	
}

/* pricing panel */
.pricing-panel {
	text-align: center;
	position: relative;
	border: 1px solid #ccc;
	padding-bottom: 60px;
	overflow:hidden;
}

.pricing-panel-price {
	color: #fff;
	text-align: center;
	font-weight: bold;
	display: block;
	position: relative;
	z-index: 1;
	padding: 10px;
	font-size: 30px;
	line-height: 1;
	margin: 0 0 10px;
	padding: 15px 0 25px;
	overflow:hidden;
	
	&:after {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background: #ccc;
		display: none;
		content:"";
		z-index: -1;
	}
	
	span {
		position:absolute;
		left:50%; bottom:30px;
		width: 100%; height:0;
		padding-top: 25%;
		padding-left: 25%;
		z-index: -1;
		@include transform( translateX(-25%) );
		&:after {
			content:"";
			display:block;
			width: 0; height: 0;
			margin-left:-500px;
			margin-top:-100px;
			
			border-left: 500px solid transparent;
			border-right: 500px solid transparent;
			border-top: 100px solid #ccc;
		}
	}
	
	small { 
		display: block; 
		font-weight: normal;
		font-size: 14px;
	}
	
}

.pricing-panel-title {
	margin: -1px -1px 0;
	padding: 10px;
	span { margin-bottom:0; }
}

.pricing-panel li {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.pricing-panel-btns {
	position: absolute;
	bottom:10px; left:0; right:0;
}

@media screen and (max-width: 500px) {
	
	.pricing-panel {
		padding-bottom:0;
	}
	
	.pricing-panel-btns {
		position: static;
		padding: 15px;
		.button { 
			display: block; 
			margin: 10px; 
		}
	}
	
}

/* the latest grid */
.latest-grid {
	.item { 
		text-align: center; 
		position: relative;
		padding-bottom: 60px;
		border: 1px solid #ccc;
	}
	
	.t { margin: -20px auto 20px; }
	
	.hgroup { margin: 0 0 20px; }
	.h4-style { margin:0; }
	
	/*
	.testimonial {
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( center );
		padding:0;
	}
	*/
	
}

.latest-button {
	position: absolute;
	left:0; right:0; bottom: 20px;
}

.testimonial {
	.latest-grid & { border: none; }
	cite {
		font-weight: bold;
		font-style: normal;
		display: inline-block;
		margin: 10px 0;
		&:before {
			content:"\2014";
			display: inline-block;
			margin-right: 4px;
		}
	}
}

.event-meta { margin: 10px 0; }
.event-meta-label { 
	color: $blueColor; 
	display: inline-block;
	margin-right: 8px;
}

/* time block */
time.t {
	display: table;
	line-height: 1;
	
	&>span {
		display: table-cell;
		width: 50%;
		padding: 8px;
		vertical-align: middle;
	}
	
}

.t-day { 
	background: #ccc; 
	font-weight: bold;
	color: #fff;
	font-size: 24px;
	border-right: 1px solid #fff;
}
.t-month-year { 
	color: #fff; 
	background: $blueColor; 
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.4;
	span { display: block; }
	
}

/* how it works tabs */
.circle-graphic-wrap {
	max-width: 209px;
	width: 100%;
	margin: 0 auto 10px;
	display:block;
}

.circle-graphic {
	width: 100%;
	height:0;
	padding: 100% 0 0;
	display: block;
}

.how-it-works {

	.tab-controls {
		font-size:0;
		text-align:center;
		margin-bottom: -1px;
	}
	
	.tab-control {
		font-size: 18px;
		display: inline-block;
		padding: 12px;
		text-transform: uppercase;
		background: $blueColor;
		color: #fff;
		line-height:1;
		border: 1px solid #ccc;
		cursor: pointer;
		
		&:first-child { border-right-width:0; }
		
		&:hover {
			background: lighten($blueColor,5);
		}
		
		&.selected {
			color: $blueColor;
			background: #fff;
			border-bottom-color: #fff;
		}
		
	}
	
	.tab-holder {
		border: 1px solid #ccc;
		padding: 10px 0;
	}
	
	.selector { display: none; }
	@media screen and (max-width: $gridCollapseSmall) {
		.tab-control { display: none; }
		.selector { display: block; }
	}
	
	@media screen and (min-width: $gridCollapseSmall) {
		.item { position: relative; }
		.circle-graphic-wrap {
			@include t-fa();
			&:before {
				position: absolute;
				top: 50%; left: -20px;
				margin-top: -28px;
				@include transform( translateY(-50%) );
				content:$fa-var-arrow-right;
				font-size: 28px;
				color: $blueColor;
			}
		}
		
		.col:first-child .circle-graphic-wrap:before { display: none; }
	}

}

.how-it-works-text {
	color: $blueColor;
	display: block;
	text-align:center;
}

ul.chev {

	margin-left: 15px;

	li {
		@include t-fa();
		&:before {
			content: $fa-var-chevron-circle-right !important; 
			background: transparent;
			margin:0;
			width: auto; height: auto;
			color: $blueColor;
		}
	}
}

.bordered-item {
	border: 1px solid #ccc;
}

.contact-callout {
	padding: 50px 20px;
	@include t-fa();
	&:before {
		display: block;
		line-height:100px;
		width: 100px; height: 100px;
		margin: 10px auto 30px;
		text-align:center;
		font-size: 62px;
		content: $fa-var-phone;
		border-radius: 50%;
		border: 5px solid #fff;
	}
	
	span {
		display: block;
		text-transform: uppercase;
		text-align: center;
	}
}

.acc-item { margin:0 0 2px; }

.filter-bar {
	padding: 0 12px;
	margin: 0 -20px;
}

.brand-block {
	margin: 15px auto;
	max-width: 220px;
	text-align: center;
	
	.bordered-item { margin: 0 0 10px; }
	small { font-size: 11px; }
	
}

blockquote.center {
	font-weight: bold;
	font-style: italic;
	margin: 0 0 20px;
	text-align:center;
}

.article-meta {
	margin: 0 0 15px;
	
	time {
		display: inline-table;
		vertical-align: middle;
		margin-right: 10px;
	}
	
	.event-meta {
		display: inline-block;
		vertical-align: middle;
	}
}

.halved-grid {
	margin: 0 -40px;
	
	.item { padding: 20px 40px; }
	
	.section-title {
		.subtitle {
			border-top: 0;
			margin-top:0;
			padding-top:0;
			color: $blueColor;
		}
	}
	
	.col:first-child .item {
		@media screen and (min-width: $gridCollapseSmall) {
			border-right: 1px solid #ccc;
		}
		@media screen and (max-width: $gridCollapseSmall) {
			border-bottom: 2px solid #ccc;
		}
	}
	
}

.mod-archives {
	h4 { font-weight: bold; }
	a { 
		font-weight:500;
		text-decoration: none !important; 
	}
}

.excerpt { font-style: italic; }